<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <main id="app">
            <router-view></router-view>
        </main>
    </div>

    <template id="patient">
        <div>
            <h2>{{ patient.name }}</h2>
            <a>
                <router-link to="/">Back to product list</router-link>
            </a>
        </div>
    </template>

    <template id="patient-list">
    <div class="container">
        <h1>List of patients</h1>
        <div class="actions">
            <a class="btn btn-default">
                <router-link :to="{path: '/add-patient'}">
                    <span class="glyphicon glyphicon-pencil"></span>Add product
                </router-link>
            </a>
        </div>
        <br>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" requred/>
            </div>
        </div>

        <table class="table">
                <thead class="thead-light">
                <tr>
                    <th @click="sort('name')">Name</th>
                    <th @click="sort('surname')">Surname</th>
                    <th @click="sort('address')">Address</th>
                    <th @click="sort('disease')">Disease</th>
                    <th @click="sort('')">Doctor</th>
                    <th class="col-sm-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="patient in filteredPatients">
                    <td>
                        <a>
                            <router-link :to="{name: 'patient', params: {patient_id: patient.id}}">{{ patient.name }}</router-link>
                        </a>
                    </td>
                    <td>{{ patient.surname }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.disease }}</td>
                    <td>{{ patient.doctores.name }}</td>
                    <td>
                    <a class="btn btn-warning btn-xs">
                        <router-link :to="{name: 'patient-edit', params: {patient_id: patient.id}}">Edit</router-link>
                    </a>
                    <a class="btn btn-danger btn-xs">
                        <router-link :to="{name: 'patient-delete', params: {patient_id: patient.id}}">Delete</router-link>
                    </a>
                    </td>
                </tr>
                </tbody>
        </table>

        <ul class="pagination">
            <li v-for="pageNumber in num_pages" class="page-item">
                <a href="#" @click="changeParams(pageNumber-1)" >{{ pageNumber }}</a>
            </li>
        </ul>
    </div>
    </template>

    <template id="add-patient">
        <div>
            <h2>Add new product</h2>
            <form @submit="createPatient">
                <div class="form-group">
                    <label for="add-name">Name</label>
                    <input class="form-control" id="add-name" v-model="patient.name"/>
                </div>
                <div class="form-group">
                    <label for="add-surname">Surname</label>
                    <input class="form-control" id="add-surname" v-model="patient.surname"/>
                </div>
                <div class="form-group">
                    <label for="add-email">Email</label>
                    <input class="form-control" id="add-email" v-model="patient.email"/>
                </div>
                <div class="form-group">
                    <label for="add-address">Address</label>
                    <input class="form-control" id="add-address" v-model="patient.address"/>
                </div>
                <div class="form-group">
                    <label for="add-disease">Disease</label>
                    <input class="form-control" id="add-disease" v-model="patient.disease"/>
                </div>
                <select class="form-control" v-model="patient.doctores">
                        <option value="" ></option>
                        <option v-for="doctor in doctores" v-bind:value="{ id: doctor.id, name: doctor.name, surname: doctor.surname, speciality: doctor.speciality  }"> {{doctor.name}} Speciality: {{doctor.speciality}} </option>
                </select>
                <hr>
                <button type="submit" class="btn btn-primary">Create</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancel</router-link>
                </a>
            </form>
        </div>
    </template>

    <template id="patient-edit">
        <div>
            <h2>Edit product</h2>
            <form @submit="updatePatient">
                <div class="form-group">
                    <label for="edit-name">Name</label>
                    <input class="form-control" id="edit-name" v-model="patient.name"/>
                </div>
                <div class="form-group">
                    <label for="edit-surname">Surname</label>
                    <input class="form-control" id="edit-surname" v-model="patient.surname"/>
                </div>
                <div class="form-group">
                    <label for="edit-email">Email</label>
                    <input class="form-control" id="edit-email" v-model="patient.email"/>
                </div>
                <div class="form-group">
                    <label for="edit-address">Address</label>
                    <input class="form-control" id="edit-address" v-model="patient.address"/>
                </div>
                <div class="form-group">
                    <label for="edit-disease">Disease</label>
                    <input class="form-control" id="edit-disease" v-model="patient.disease"/>
                </div>
                <select class="form-control" v-model="patient.doctores">
                    <option value="" ></option>
                    <option v-for="doctor in doctores" v-bind:value="{ id: doctor.id, name: doctor.name, surname: doctor.surname, speciality: doctor.speciality  }"> {{doctor.name}}</option>
                </select>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancel</router-link>
                </a>
            </form>
        </div>
    </template>

    <template id="patient-delete">
        <div>
            <h2>Delete product {{ patient.name }}</h2>
            <form @submit="deletePatient">
                <p>The action cannot be undone.</p>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancel</router-link>
                </a>
            </form>
        </div>
    </template>

<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
<script src="/patients.js"></script>

</body>
</html>