<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration of User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script></head>
    <style>
        .triple
        {
            margin-left:15%;
            margin-top: 5%;
        }
    </style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 triple">
            <h4 class="mb-3">Registration of users</h4>
            <div class="alert alert-danger alert-dismissible fade show"><button type="button" class="close" data-dismiss="alert">&times;</button> <strong th:text ="${message}"></strong>Danger!</div>
            <div class="alert alert-danger alert-dismissible fade show"> <button type="button" class="close" data-dismiss="alert">&times;</button><strong th:text ="${passwordError}"></strong>Danger!</div>
            <form class="needs-validation" method="POST" th:action="@{/regis}">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
                    </div>
                    <input class="form-control" placeholder="User name" type="text" name="username">
                    <!--<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>-->
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="password">
                    <!--<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>-->
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card-o"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Retype Password" type="password" name="password2">
                    <!--<span th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">Name Error</span>-->
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>