<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        .triple
        {
            margin-left:15%;
            margin-top: 5%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 order-md-1 triple">
            <h4 class="mb-3">Registration of patient</h4>
            <form class="needs-validation" method="POST" th:object="${patient}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name" >Name</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name">
                        <span th:if="${#fields.hasErrors('name')}"  th:errors="*{name}">Name Error</span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label path="id">Surname</label>
                        <input type="text" class="form-control" th:field="*{surname}">
                        <span th:if="${#fields.hasErrors('surname')}"  th:errors="*{surname}">Name Error</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label path="contactNumber">Email</label>
                    <input type="text" class="form-control" th:field="*{email}">
                    <span th:if="${#fields.hasErrors('email')}"  th:errors="*{email}">Invalid Email</span>
                </div>

                <div class="mb-3">
                    <label>Address</label>
                    <input type="text" class="form-control" th:field="*{address}">
                    <span th:if="${#fields.hasErrors('address')}"  th:errors="*{address}">Name Error</span>
                </div>

                <div class="mb-3">
                    <label>Information about disease: </label>
                    <input type="text" class="form-control" th:field="*{disease}">
                    <span th:if="${#fields.hasErrors('disease')}"  th:errors="*{disease}">Name Error</span>
                </div>
                <div class="mb-3">
                    <select class="form-control" id="doctorPatient" name="doctorPatient" th:field="*{doctores}">
                        <option value=""></option>
                        <option th:each="doctor: ${doctors}" th:value="${doctor.id}" th:text="${doctor.name}+' '+${doctor.speciality}"></option>
                    </select>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>